html, body {
  font-family: system-ui;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'),
       url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'),
       url('/fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'),
       url('/fonts/SourceCodePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sidebar-container {
  grid-column: span 1;
}

.content {
  grid-column: span 2;
}

.content {
  font-family: 'Lato';
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.06300000101327896px;
  line-height: 31px;
}

.sidebar h1 {
  display: none;
}

.sidebar h3 {
  font-size: 16px;
  color: #777;
  text-transform: uppercase;
}

.sidebar ul {
  padding-left: 0;
  margin-bottom: 48px;
  list-style-type: none;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.sidebar ul li a:hover {
  color: #357EDD;
}

.content .note {
  border-top: solid 3px #00c79b;
  background-color: #f9fafb;
  padding: 30px;
}

.content .tip {
  border-top: solid 3px #357EDD;
  background-color: #f9fafb;
  padding: 30px;
}

.content h1, .content h2, .content h3, .content h4 {
  padding-top: 30px;
}

.content:first-child h1 {
  padding-top: 0;
}

.content a {
  color: #357EDD;
}

.content ul, .content ol {
  padding-left: 0;
}

.content ul li, .content ol li {
  list-style-type: none;
  font-size: 16px;
  line-height: 32px;
}

.content ul li a {
  text-decoration: none;
  color: #357EDD;
  font-size: 16px;
  line-height: 24px;
}

.content ul li a:hover {
  text-decoration: none;
  color: #00449E;
  font-size: 16px;
  line-height: 24px;
}

.content ul {
  padding: 15px;
}

.content > ul {
  border-radius: 2px;
  border: solid 1px #eee;
}

.content table {
  border-spacing: 0;
}

.content table thead tr th {
  padding: 7px;
}

.content table tbody tr td {
  padding: 7px;
}

.content table tbody tr:nth-child(2n+1) {
  background-color: #efefef;
}

.content > p > code {
  background-color: #eee;
  padding: 0 5px;
  font-family: 'Source Code Pro';
}

.content > h4 > code {
  background-color: #eee;
  padding: 0 5px;
  font-family: 'Source Code Pro';
}

.content code {
  font-family: 'Source Code Pro';
}

.hero-topo-bg {
  background-color: #357EDD;
}

.bg-nearest-white {
  background-color: #f9fafb;
}

img[src*="#cover"] {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-height: 300px;
  max-width: 1000px;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px minmax(340px, 740px) 10px 1fr 1fr;
}

article > * {
  grid-column: 4;
}

article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
}

article > .aside {
  grid-column: 5 / -1;
}

article > blockquote {
  grid-column: 3 / span 2;
  margin: 0px 0;
  color: #666;
  border-left: 3px solid black;
  padding-left: 10px;
}

article > * {
  min-width: 0;
}

article > h1 {
  font-family: system-ui;
}

article > p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

article > .aside {
  font-family: system-ui;
  margin: 30px 20px;
  color: #666;
  font-size: 0.8em;
}

article img {
  width: 100%;
}

article .line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

article code {
  background: #eee;
  padding: 2px 5px;
  font-family: monaco;
  font-size: 16px;
}

article pre {
  background: #eee;
  padding: 10px 15px;
  overflow: auto;
}

article pre > code {
  padding: 0;
}

article figure {
  margin: 0;
}

article figure figcaption {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}
