html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'),
       url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'),
       url('/fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'),
       url('/fonts/SourceCodePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('/fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sidebar-container {
  grid-column: span 1;
}

.content {
  grid-column: span 2;
}

.sidebar h1 {
  display: none;
}

.sidebar h3 {
  font-size: 16px;
  color: #777;
  text-transform: uppercase;
}

.sidebar ul {
  padding-left: 0;
  margin-bottom: 48px;
  list-style-type: none;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.sidebar ul li a:hover {
  color: #357EDD;
}

.content {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.content .note {
  border-top: solid 3px #00c79b;
  background-color: #f9fafb;
  padding: 30px;
}

.content .tip {
  border-top: solid 3px #357EDD;
  background-color: #f9fafb;
  padding: 30px;
}

.content h1, .content h2, .content h3, .content h4 {
  padding-top: 30px;
}

.content:first-child h1 {
  padding-top: 0;
}

.content a {
  color: #357EDD;
}

.content ul, .content ol {
  padding-left: 0;
}

.content ul li, .content ol li {
  list-style-type: none;
  font-size: 16px;
  line-height: 32px;
}

.content ul li a {
  text-decoration: none;
  color: #357EDD;
  font-size: 16px;
  line-height: 24px;
}

.content ul li a:hover {
  text-decoration: none;
  color: #00449E;
  font-size: 16px;
  line-height: 24px;
}

.content ul {
  padding: 15px;
}

.content > ul {
  border-radius: 2px;
  border: solid 1px #eee;
}

.content table {
  border-spacing: 0;
}

.content table thead tr th {
  padding: 7px;
}

.content table tbody tr td {
  padding: 7px;
}

.content table tbody tr:nth-child(2n+1) {
  background-color: #efefef;
}

.content > p > code {
  background-color: #eee;
  padding: 0 5px;
  font-family: 'Source Code Pro';
}

.content > h4 > code {
  background-color: #eee;
  padding: 0 5px;
  font-family: 'Source Code Pro';
}

.content code {
  font-family: 'Source Code Pro';
}

.hero-topo-bg {
  background-color: #357EDD;
}

.near-white {
  background-color: #f9fafb;
}
